@{
    ViewBag.Title = "Home Page";
}

<section class="featured">

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <div id="page-content">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <!--Morris Area Chart placeholder-->
                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                <div id="chart-cls-opn-rn-week" data-url="@Url.Action("GetDashboardRnCount","Home")" style="height: 300px; width: 100%;"></div>
                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="panel">
                            <div class="panel-body">
                                <!--Morris Area Chart placeholder-->
                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                <div data-url="@Url.Action("GetDashboardRnCount","Home")" style="height: 300px; width: 100%; overflow-y:scroll; overflow-x:hidden;">
                                    <h4>Semanas cerradas</h4>
                                     <table id="tbl-closed-week-dash" data-url="@Url.Action("GetClosedWeek","CanvWeek")" class="table table-hover table-striped table-bordered" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Canv Week</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha FIn</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="panel" id="last-run-week-panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Última semana corrida</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table id="tbl-generated-lastweek" data-url="@Url.Action("GetLastGeneratedWeek","Home")" class="table table-hover table-striped table-bordered" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Book</th>
                                                    <th>PI</th>
                                                    <th>NI</th>
                                                    <th>Increase</th>
                                                    <th>Decrease</th>
                                                    <th>Cancel</th>
                                                    <th>Neto</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{

    <script src="@Url.Content("~/plugins/bootbox/bootbox.min.js")"></script>
    <script src="@Url.Content("~/js/demo/ui-modals.js")"></script>
    <script src="@Url.Content("~/js/demo/ui-alerts.js")"></script>
    <script src="@Url.Content("~/plugins/datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/plugins/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/js/Utils.js")"></script>
    <script src="@Url.Content("~/js/dashboard.js")"></script>
    
}

