@section styles {    
    <link href="@Url.Content("~/plugins/bootstrap-datepicker/bootstrap-datepicker.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/datepicker/daterangepicker.css")" rel="stylesheet" />

    <style type="text/css">
        .demo {
            position: relative;
        }

            .demo i {
                position: absolute;
                bottom: 10px;
                right: 24px;
                top: auto;
                cursor: pointer;
            }
    </style>
}
<section class="featured">

    <div class="boxed">

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">

            <div id="page-content">
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Formulario de semanas</h3>
                            </div>
                            <!--Block Styled Form -->
                            <!--===================================================-->
                            <form data-url="@Url.Action("GetWeekByDb", "BerryGenerator")" id="form-berry-generator">
                                <div class="panel-body">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label">Semanas</label>
                                                    <select class="selectpicker form-control" id="canvweek" data-show-subtext="true" data-url="@Url.Action("GetActiveDateByCanvWeek", "BerryGenerator")"></select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="weekly-fecha-desde">Fecha desde</label>
                                                    <input type="text" class="form-control date" id="weekly-fecha-desde">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="control-label" for="weekly-fecha-hasta">Fecha hasta</label>
                                                    <input type="text" class="form-control date" id="weekly-fecha-hasta">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-footer text-right">
                                    <button class="btn btn-primary" type="button" data-url="@Url.Action("GenerateBerry", "BerryGenerator")" id="command-button-proccess">Generar</button>
                                </div>
                            </form>
                            <!--===================================================-->
                            <!--End Block Styled Form -->
                        </div>
                    </div>
                </div>
                @*<div class="row" id="panel-canv-wee-details">
                    <div class="col-lg-12">
                        <div class="panel panel-bordered">
                            <div class="panel-heading">
                                <h3 class="panel-title">Semanas pendientes por correr</h3>
                            </div>
                            <div class="panel-body" data-url="@Url.Action("GetOpenedWeekDetailsByDate", "BerryGenerator")" id="panel-body-canv-wee-details">
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="row" id="panel-canv-wee-details">
                    <div class="col-sm-12">
                        <!--Panel with Tabs-->
                        <!--===================================================-->
                        <div class="panel">

                            <!--Panel heading-->
                            <div class="panel-heading">
                                <div class="panel-control">

                                    <!--Nav tabs-->
                                    <ul class="nav nav-tabs">
                                        <li class="active"><a data-toggle="tab" href="#demo-tabs-box-1">Semanas</a></li>
                                        <li><a data-toggle="tab" href="#demo-tabs-box-2">Gráfica</a></li>
                                    </ul>

                                </div>
                                <h3 class="panel-title">Resultados</h3>
                            </div>

                            <!--Panel body-->
                            <div class="panel-body">
                                
                                <!--Tabs content-->
                                <div class="tab-content">
                                    <div id="demo-tabs-box-1" class="tab-pane fade in active">
                                        <p class="text-main text-lg mar-no">Semanas</p>
                                        <div class="panel-body" data-url="@Url.Action("GetOpenedWeekDetailsByDate", "BerryGenerator")" id="panel-body-canv-wee-details">
                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="demo-tabs-box-2" class="tab-pane fade">
                                        <p class="text-main text-lg mar-no">Resumen por <span>libros</span></p>
                                        <div class="row">
                                            <div class="col-sm-12" id="post-berry-generated-chart-parent">
                                                <!--Flot Line Chart placeholder-->
                                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                                @*<div id="demo-flot-line" style="height:312px"></div>*@
                                                @*<div id="post-berry-generated-chart" style="height: 370px; width: 100%;" data-url="@Url.Action("GetPostGeneratedBerryByDate", "BerryGenerator")"></div>*@
                                                <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
                                                <div id="post-berry-generated-chart" style="height: 370px; width: 100%;" data-url="@Url.Action("GetPostGeneratedBerryBarByDate", "BerryGenerator")"></div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                        <!--===================================================-->
                        <!--End of panel with tabs-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section scripts{
    
    <script src="@Url.Content("~/js/datepicker/daterangepicker.js")"></script>
    <script src="@Url.Content("~/plugins/bootbox/bootbox.min.js")"></script>
    <script src="@Url.Content("~/js/demo/ui-modals.js")"></script>
    <script src="@Url.Content("~/js/demo/ui-alerts.js")"></script>
    <script src="@Url.Content("~/plugins/datatables/media/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/plugins/datatables/media/js/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/plugins/bootstrap-select/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/js/Utils.js")"></script>
    <script src="@Url.Content("~/js/berryGenerator.js")"></script><!--"~/js/berryGenerator.js"-->

    <script>
        $('#weekRange').daterangepicker({
            "showDropdowns": true,
            "timePickerIncrement": 1,
            "autoApply": true,
            "startDate": Date.now,
            "endDate": Date.now,
            "opens": "left",
            "drops": "down",
            "buttonClasses": "btn btn-sm",
            "applyClass": "btn-success",
            "cancelClass": "btn-default"
        });
    </script>
}

